
/*********************************************************************ICONS********************************************************************/
.gg-play-button{
  box-sizing: border-box;
  position: relative;
  display: block;
  transform: scale(var(--ggs,1.5));
  width: 22px;
  height: 22px;
}

.gg-play-pause {
  box-sizing: border-box;
  position: relative;
  display: block;
  transform: scale(var(--ggs,1.5));
  width: 8px;
  height: 10px;
  border-left: 3px solid;
  border-right: 3px solid
}

.gg-play-forwards {
  box-sizing: border-box;
  position: relative;
  display: block;
  transform: scale(var(--ggs,1.5));
  width: 3px;
  height: 10px;
  background: currentColor
}
.gg-play-button::before {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
  width: 0;
  height: 10px;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 6px solid;
  top: 6px;
  left: 9px
}


.gg-play-backwards {
  box-sizing: border-box;
  position: relative;
  display: block;
  transform: scale(var(--ggs,1.5));
  width: 3px;
  height: 10px;
  background: currentColor;
}
.gg-play-backwards::after,
.gg-play-backwards::before {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
  width: 0;
  height: 10px;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-right: 6px solid;
  right: -7px
}
.gg-play-backwards::before {
  right: -14px
}
.gg-play-forwards::after,
.gg-play-forwards::before {
 content: "";
 display: block;
 box-sizing: border-box;
 position: absolute;
 width: 0;
 height: 10px;
 border-top: 5px solid transparent;
 border-bottom: 5px solid transparent;
 border-left: 6px solid;
 left: -7px
}
.gg-play-forwards::before {
 left: -14px
}


.gg-sync {
  box-sizing: border-box;
  position: relative;
  display: block;
  transform: scale(var(--ggs,1));
  border-radius: 40px;
  border: 2px solid;
  margin: 1px;
  border-left-color: transparent;
  border-right-color: transparent;
  width: 18px;
  height: 18px
}
.gg-sync::after,
.gg-sync::before {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
  width: 0;
  height: 0;
  border-top: 4px solid transparent;
  border-bottom: 4px solid transparent;
  transform: rotate(-45deg)
}
.gg-sync::before {
  border-left: 6px solid;
  bottom: -1px;
  right: -3px
}
.gg-sync::after {
  border-right: 6px solid;
  top: -1px;
  left: -3px
}

/**********************************************************AUDIO PLAYER COMPONENT**************************************************************/

.audio-player-icons{
  display: flex;
  justify-content: center;
  align-items: center;
  gap : 30px;
  margin-top: 0.5rem;
  position: sticky;
  bottom: 0;
}
.audio-player-container{
  /* padding-top: 1.2rem; */
  position: sticky;
  background-color: #05998c;
  color : whitesmoke;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  height: 80px;
  width: 100%;
  
}

.audio-player-controls{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60%;
}

.audio-player-input{
  display: flex;
  width: 70%;
  gap: 5px;
}

.audio-player-input input{
  width: 60%;
  margin: auto;
}

.audio-player-img{
  display: flex;
  gap: 10px;
  max-height: 80px;
}

.audio-player-img img{
  height: 100%;
  width: 80px;
}

.audio-player-img h4{
  margin-top: 0.5rem;
  margin-bottom: 0;
  padding: 0;
  font-size: 17px;
}

.audio-player-img p{
  margin: 0;
}

input[type="range"] {
  -webkit-appearance:none ;
  appearance: none;
  width: 100%;
  height: 8px;
  border-radius: 5px;
  background-color:  #fff ;
  background-image: linear-gradient(#cbcbcb, #cbcbcb); 
  background-repeat: no-repeat; 
}


input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: silver;
  cursor: pointer;
}



.audio-player-volume input{
  background-size: 60% 100%;
}

.audio-player-volume{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 0.4rem;
}

.audio-player-container  i{
  cursor: pointer;
}

.audio-player-pause{
  height: 22px;
  width: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.audio-player-title{
  width: 100%;
}

.audio-player-mobile{
  display: none;
}

@media only screen and (max-width: 549px){
  .audio-player-container{
    display: none;
  }
  .audio-player-mobile{
    
    display: flex;
    flex-direction: column;
    position: sticky;
    background-color: #05998c;
    color : whitesmoke;
    bottom: 0;
    width: 100%;
  }
  .audio-player-mobile-controler{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 40px
  }
  .audio-player-icons{
    margin-left: 2rem;
  }
 .audio-player-input{
  width: 100%;
  align-items: flex-start;
 }

 input[type="range"]::-webkit-slider-thumb {
  width: 0;
  height: 0;
  border-radius: 50%;

}
  .audio-player-input span{
    display: none;
  }

  .audio-player-input input[type='range']{
    margin: 0;
    width: 100%;
    border-radius: 0;
  }
  input[type="range"]:hover::-webkit-slider-thumb{
    width: 14px;
    height: 14px;
  }
  i{
    cursor: pointer;
  }
  .audio-player-img{
    align-items: center;
  }
}
